<div class="center">

  <h1>Products Store</h1>
  <button class="new_product btn">New Product</button>

  <form class="hide container" id="new_pro">
    <input type="text" name="product[name]" id="product_name" placeholder="product name">
    <input type="text" name="product[description]" id="product_description" placeholder="description">
    <input type="submit">
  </form>
  <hr/>

  <div id="products" class="row" >

  </div>

</div>
